.modal-container{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 50%;
    position: fixed;
    top: center;
    left: 25%;
}

.modal-container .list-data{
    border-bottom : 2px solid darkolivegreen;
    margin : 2px;
    padding : 2px 0;
}